
.reviewContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.reviewerName {
    font-size: 125%;
}

.postReviewButtonContainer:hover {
    cursor: pointer;
}
.postReviewButtonContainer {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.postReviewButtonContainer:active {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.postReviewButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #E4FDE1;
    width: 150px;
    height: 30px;
    color: black;

}

.deleteReviewButtonContainer {
    display: flex;
    align-items: center;
    width: 120px;
    height: 28px;
    background-color: #E4FDE1;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: 20px;
}

.deleteReviewButtonContainer:hover {
    cursor: pointer;
}

.deleteReviewButtonContainer:active {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.deleteReviewButtonText {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    height: 28px;
    position: absolute;
    background-color: #E4FDE1;
}
