.confirmDeleteForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px 25px 0;
    gap: 15px;
}

.deleteHeader,
.deleteSubHeader {
    color: #E4FDE1;
    text-align: center;
}

.confirmDelete {
    background-color: #F45B69;
}

.confirmDelete,
.dontDelete {
    padding: 10px;
}

.deleteModalButton:hover {
    background-color: #E4FDE1;
}

.confirmDelete:hover,
.dontDelete:hover {
    cursor: pointer;
}
