.spotsWrapper {
    padding: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.previewImage {
    min-height: 200px;
    max-height: 200px;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid grey;
    border-radius: 10px;
}

h1 {
    color: #E4FDE1;
}
p {
    color: #E4FDE1;

}

.spotsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .25fr));
    max-width: 100%;
    gap: 50px;
    justify-content: center;
    max-height: 1706px;
    margin-bottom: 50px;
}

.spots{
    width: 250px;
    margin: 25px auto;
}
.spots:hover {
    cursor: pointer;
}

.locationRating{
    display: flex;
    justify-content: space-between;
}

.starRating {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 5px;
    font-size: 80%;
}

.locationPrice{
    margin-top: 10px;
}

.pageButtonContainer {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.pageButton {
    width: 100px;
    padding: 10px;
    background-color: #F45B69;
    color: #E4FDE1;
    cursor: pointer;
}

.pageButton:active {
    background-color: #E4FDE1;
    color: black;
}

.pageNumber {
    display: flex;
    align-items: center;
}
