.spotsWrapper {
    padding: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}
.previewImage {
    min-height: 200px;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid grey;
}

h1 {
    color: #E4FDE1;
}
p {
    color: #E4FDE1;

}

.spotsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .25fr));
    max-width: 100%;
    gap: 50px;
}

.spots{
    width: 250px;
    margin: 25px auto;
}
.spots:hover {
    cursor: pointer;
}

.locationRating{
    display: flex;
    justify-content: space-between;
}

.starRating {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 5px;
    font-size: 80%;
}

.locationPrice{
    margin-top: 10px;
}
