.signupHeader {
    text-align: center;
    color: #E4FDE1
}

.signupForm {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.signupLabel {
    padding-bottom: 15px;
    display: flex;
    gap: 10px;
    text-align: left;
    flex-direction: column;
    color: #E4FDE1
}

.signupInput {
    background-color: #028090;
    border: none;
    width: 200px;
    max-width: 200px;
}

.signupButton {
    width: 100px;
    margin: 10px auto 0;
}
