* {
    margin: 0;
    padding: 0;
}

.navBarContainer {
    display: flex;
    place-content: flex-end;
    place-items: center;
    list-style-type: none;
    padding: 10px;
    background-color: #456990;
    height: 75px;
    transition: all 1s;
    border-bottom: 3px solid #028090;
}

ul {
    list-style-type: none;
}

.signupButton {
    cursor: pointer;
}

.profileButton {
    display:flex;
    border: 1px solid #A1A8A0;
    border-radius: 20px;
    background-color: transparent;
    font-size: 70%;
    margin-left: 10px;
}

.homeButton {
    color: #E4FDE1;
}
.homeButton:hover {
    color: #F45B69
}


.pic {
    display: flex;
    place-items: center;
    color: #e4fde1;
    height: 25px;
    padding: 5px;
}

.pic:hover {
    cursor: pointer;
}

.logoContainer {
    display: flex;
    position: absolute;
    width: fit-content;
    color: #E4FDE1;
    align-items: center;
    left: 20px;
}

.logoContainer:hover {
    cursor: pointer;
}

.logoName {
    padding: 15px;
    font-size: 24px;
}

.logoIcon {
    font-size: 250%;
    transform: rotate(180deg);
}

.profileDropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #028090;
    right: 10px;
    top: 75px;
    padding: 0 0px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    width: 250px;
    overflow: hidden;
}


.dropDown {
    box-sizing: border-box;
    width: 100%;
}

.dropDown {
    color: #E4FDE1;
    padding: 10px;
    padding-bottom: 5px;
}


.logoutButton,
.manageSpotsButton{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #E4FDE1;
}

.logoutButton:hover,
.manageSpotsButton:hover{
    cursor: pointer;
    background-color: #016E7D;
}

.dropDownActive {
    box-shadow: 2px 2px 5px black;
}

.dropDownLoginContainer {
    box-sizing: border-box;
    width: 100%;
}

.dropDownSignupContainer {
    box-sizing: border-box;
    width: 100%;
}

.dropDownLoginSignup{
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #e4fde1;
    /* border-bottom: 1px solid gray*/ /* comment this back in later when more items are added to dropdown*/
}

.dropDownLoginSignup:hover {
    cursor: pointer;
    background-color: #016E7D;
}

.hidden {
    display: none;
}
