a {
    color: #E4FDE1;
}
a:active {
    color: #F45B69
}
ul {
    display: flex;
    place-content: flex-end;
    /* place-items: center; */
    list-style-type: none;
}

.navBar {
    display: flex;
    flex-direction: column;
    width: 75px;
    padding: 10px;
    text-align:  center;
}

.signupButton {
    cursor: pointer;
}
.modalButton:hover {
    cursor: pointer;
    border: 1px solid red;
}

.logoutButton {
    width: 75px;
}

.logoutButton:hover{
    cursor: pointer;
}

.profileButton {
    border: none;
    background-color: transparent;
    font-size: 85%;
}

.pic {
    color: #F45B69;
    height: 25px;
}

.pic:hover {
    cursor: pointer;
}

.logoContainer {
    position: absolute;
    width: 98%;
}

.logo:hover {
    cursor: pointer;
}

.profileDropdown{
    display: flex;
    position: absolute;
    right: 10px;
    padding-top: 10px;
    gap: 10px;
}
.dropDown {
    display: flex;
    color: #E4FDE1;
}

.hidden {
    display: none;
}
